---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Zero Yue，来自重庆的互联网产品设计师
        <br />
        职业技能包括但不限于:
      </p>
      <ul class="list-disc list-inside">
        <li>交互设计</li>
        <li>视觉设计</li>
        <li>AI设计</li>
        <li>三维设计</li>
        <li>用户体验</li>
        <li>项目管理</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      多元化的设计工具构建出了我的技能体系，广泛的调研和分析推动着我不断进步。
    </p>
    <p class="text-sm font-light">
      设计之外，我喜欢投入一些创作，比如CG绘画、3d打印和数字人。阅读、电影和徒步也会填充我的闲暇时光。
    </p>
    <p class="text-sm font-light">
      By the way, ☕️ is one of my life's simple pleasures.
    </p>
  </div>
</Card>
