---
interface Props {
  rounded?: boolean;
}

const { rounded } = Astro.props;
---

<button
  class={`custom-btn text-xl max-h-[50px] text-gray-200 px-5 py-2 hover:text-primary-500 transition-colors duration-100 ease-in-out bg-white/5 cursor-pointer ${
    rounded ? "rounded-full" : "rounded-lg"
  }`}
>
  <slot />
</button>
