---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        期待一起合作
      </h1>
    </header>
    <div class="flex flex-col mt-4">
      <h2 class="text-gray-500">Contact Details</h2>
      <p>yuanyue490@gmail.com</p>
      <p>Chongqing, China</p>
    </div>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Socials</h2>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/%E6%82%A6-%E8%A2%81-043976126/" target="_blank">Linkedin</a>
        </li>
        <li>
          <a href="https://dribbble.com/yuanyue" target="_blank">Dribbble</a>
        </li>
        <li>
          <a href="https://www.behance.net/zeroyue" target="_blank">Behance</a>
        </li>
        <li>
          <a href="https://500px.com/p/Zero_Yue" target="_blank">500px</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
