---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from 'astro-icon/components'
import Tooltip from "./Tooltip/index";
import WechatTooltip from "./WechatTooltip/index";
import { Image } from "astro:assets";
---

<Card 
  colSpan="md:col-span-3" 
  rowSpan="md:row-span-4"
>
  <div class="absolute inset-0 bg-gradient-to-br from-primary-900 to-gray-900 rounded-lg -z-10"></div>
  
  <div class="flex w-full h-full relative z-0">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-primary-500">Life is short, interesting is better</h6>
        <p class="m-0 mt-4 mb-2 font-light text-xl">
          Hi, 我是 <b class="font-bold">Zero Yue</b>
        </p>
        <p class="m-0 mb-1 font-light text-l">一名互联网产品设计</p>
        <p class="m-0 mb-1 font-light text-l">一个讲故事的人</p>
        <p class="m-0 mb-1 font-light text-l">商业与设计的平衡者</p>
        <p class="m-0 mb-1 font-light text-l">持续创新，长期主义</p>
      </div>
      <div class="flex gap-2">
        <a href="mailto:490878117@qq.com" aria-label="email" target="_blank">
          <Button aria-label="email">
            <Icon name="ri:mail-fill" class="h-6" />
            <span class="sr-only">Email</span>
          </Button>
        </a>
        <WechatTooltip client:visible wechatId="moonandapple" qrCodeSrc="/images/wechat.png">
          <Button aria-label="wechat">
            <Icon name="ri:wechat-fill" class="h-6" />
            <span class="sr-only">WeChat</span>
          </Button>
        </WechatTooltip>
        <!-- <a href={LINKS.dribble} aria-label="dribble profile" target="_blank">
          <Button aria-label="dribble profile">
            <Icon name="ri:dribbble-fill" class="h-6" />
            <span class="sr-only">Dribble Profile</span>
          </Button>
        </a> -->
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon name="ri:emotion-laugh-line" class="h-6" />
            <span class="sr-only">Easter egg button</span>
          </Button>
        </Tooltip>
      </div>
    </div>
    <Image
      width="300"
      height="300"
      src="/me.webp"
      class="w-auto max-h-[300px] select-none absolute right-[-95px] bottom-[-40px] z-[-1] opacity-50 md:opacity-100 md:relative md:left-[245px] md:bottom-auto md:z-auto pointer-events-none"
      alt="Zero Yue的头像"
    />
  </div>
</Card>
