---
import { getCurrentTimeInBeijing, formatTimeForBeijing } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<script>
  import { onCleanup, onMount } from "solid-js";
  import { formatTimeForBeijing } from "../lib/helpers";

  let interval: ReturnType<typeof setInterval>;

  function updateClock() {
    const timeDisplay = document.getElementById("timeDisplay");
    const now = new Date();

    if (timeDisplay) {
      timeDisplay.textContent = formatTimeForBeijing(now);
      timeDisplay.setAttribute("datetime", now.toISOString());
    }
  }

  onMount(() => {
    // 只在浏览器环境添加事件监听器
    if (typeof window !== 'undefined') {
      interval = setInterval(updateClock, 1000);
    }
  });

  onCleanup(() => {
    // 只在浏览器环境移除事件监听器
    if (typeof window !== 'undefined') {
      clearInterval(interval);
    }
  });
</script>

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="现在时间">
  <div class="w-full h-full flex items-center justify-center">
    <time
      datetime=""
      id="timeDisplay"
      class="text-3xl md:text-4xl xl:text-5xl font-serif"
    >
      {formatTimeForBeijing(getCurrentTimeInBeijing())}
    </time>
  </div>
</Card>
